body {
  margin: 0;
  padding: 0;
}

#fullpage {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  background: hsl(0, 0%, 100%);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

#section0 {
  align-items: center;
  text-align: center;
}

#section0 .splash {
  color: hsla(0, 0%, 50%, 1);
}

.splash #daysRemaining {
  font-family: 'Merriweather';
}

#section0 .text {
  font-family: 'Great Vibes';
  font-size: 3em;
}

#section0 .text span{
  font-family: 'Libre Baskerville';
  font-size: 1em;
  font-style: italic;
}

#section0 .date {
  font-family: 'Merriweather';
  font-size: 3em;
  margin-top: -0.45em;
}

#description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#images {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

#images #image {
  background: white;
  padding: 0.4em;
  padding-bottom: 1.6em;
  border: 1px solid hsl(0, 0%, 59%);
  box-shadow: 0 0.2em 0.2em #909090;
  backface-visibility: hidden;
}

#images #image:first-child {
  transform: rotate(-15deg);
}

#images #image:last-child {
  transform: rotate(5deg);
  margin-left: -2.5em;
}

#image img {
  max-height: 8.5em;
  max-width: auto;
}

p {
  font-family: 'Source Sans Pro';
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: italic;
}

a span {
  font-size: 0.5em;
}

h1 {
  position: relative;
  display: inline-block;
  font-family: "Great Vibes", times, serif;
  font-weight: 500;
  /* letter-spacing: 0.15em; */
  white-space: nowrap;
  text-align: center;
  font-size: 2em;
  /* text-transform: uppercase; */
  /* transform: rotate(-8deg); */
}
h1:after, h1:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -.5em;
  width: 1em;
  height: 100%;
  background-color: #12abf3;
  pointer-events: none;
}
h1:after {
  right: -.57em;
  z-index: 1;
}
h1:before {
  bottom: auto;
  top: -.5em;
  left: -.57em;
  z-index: 1;
}
h1 span {
  display: inline-block;
  position: relative;
  padding: .15em .75em;
  text-decoration: none;
  color: #FFF;
  background-color: #42bcf5;
  z-index: 2;
}
h1 span:after, h1 span:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -.5em;
  left: -.05em;
  pointer-events: none;
  -webkit-mask: none;
}
h1 span:before {
  bottom: auto;
  top: -.5em;
  border-bottom: 0.5em solid #086996;
  border-left: .5em solid transparent;
}
h1 span:after {
  left: auto;
  right: -.05em;
  border-top: 0.5em solid #086996;
  border-right: .5em solid transparent;
}

@media screen and (min-width: 780px){

  #page {
    display: flex;
    flex-wrap: wrap;
  }

  #section1 {
    width: 50%;
  }

  #section2 {
    width: 50%;
  }
}
